<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <router-outlet></router-outlet>
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Iniciar Sesión</h1>
                        <form [formGroup]="loginForm" (ngSubmit)="OnLogin()">

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" formControlName="email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" formControlName="password">
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" onclick="location.href='/home'">Ingresar</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

