@model Frontend_TDP.Models.Solicitud

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro de solicitud</h1>

<h4>Llenar los siguientes datos: </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idDespacho" class="control-label"></label>
                <input asp-for="idDespacho" class="form-control" required/>
                <span asp-validation-for="idDespacho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaCreacion" class="control-label"></label>
                <input asp-for="fechaCreacion" class="form-control" required/>
                <span asp-validation-for="fechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaDespacho" class="control-label"></label>
                <input asp-for="fechaDespacho" class="form-control" required/>
                <span asp-validation-for="fechaDespacho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccionEntrega" class="control-label"></label>
                <input asp-for="direccionEntrega" class="form-control" required/>
                <span asp-validation-for="direccionEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observacion" class="control-label"></label>
                <input asp-for="observacion" class="form-control" required/>
                <span asp-validation-for="observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idSolicitante" class="control-label"></label>
                <input asp-for="idSolicitante" class="form-control" required/>
                <span asp-validation-for="idSolicitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idRecepcionista" class="control-label"></label>
                <input asp-for="idRecepcionista" class="form-control" required/>
                <span asp-validation-for="idRecepcionista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>